[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coxsei"]
	path = coxsei
	url = https://github.com/cran/coxsei
[submodule "ibs"]
	path = ibs
	url = https://github.com/cran/ibs
[submodule "IHSEP"]
	path = IHSEP
	url = https://github.com/cran/IHSEP
[submodule "lpint"]
	path = lpint
	url = https://github.com/cran/lpint
[submodule "RHawkes"]
	path = RHawkes
	url = https://github.com/cran/RHawkes
